/* styling the div of the main body */

.general_body {
    width: 85%;
    max-width: 1000px;
    padding: 1rem;
    margin: auto;
    background-color: aliceblue;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* styling the h1 tags */
.fav-meal{
    text-decoration: dotted;
    text-transform: uppercase;
    text-align: center;
}

.first {
    /* margin: 20px 20px 0 20px; */
    /* padding: 5px; */
}

/* styling the first segment of the body */
.food, .about {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

/* styling the table */
table, td, th {
    /* margin: 20px; */
    border-collapse: collapse;
    border: 2px solid grey;
    row-gap: 20px;
}

th {
    height: 50px;
}

td:nth-child(3) {
    width: 55%;
}

/* styling the steps */

li {
    margin-bottom: 10px;
}

/* styling the images */

.pics {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pics div {
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
}

.pics > div img {
    width: 50%;
    padding: 4rem;
}

@media screen and (max-width: 700px) {
    .pics {
        display: flex;
        justify-content: center;
    }
}